In [2]:
print(1+1)

2

In [3]:
(1+1)

2

In [4]:
(1 - 1)

0

In [5]:
(7 * 7)

49

In [6]:
(10 / 5)

2.0

In [7]:
(6 + 9 * 3 + 3)

36

In [8]:
((6+9)*(3+3))

90

In [9]:
(6 % 2)

0

In [10]:
(9 % 2)

1

In [11]:
6 ** 2

36

In [12]:
6 ** 5

7776

In [13]:
13 // 2

6

In [14]:
age = 25
age

25

In [15]:
age, name, gender = 25, 'Jane', 'Female'

In [16]:
age

25

In [17]:
name

'Jane'

In [18]:
gender

'Female'

In [19]:
blood_type = 'AB'
blood_type

'AB'

In [20]:
age = 30
age

30

In [21]:
age += 5
age

35

In [22]:
age -= 5
age

30

In [23]:
print(age)

30

In [27]:
x = 7.5
y = 3
z = x/y
print(z)

2.5

In [28]:
print(type(x))

<class 'float'>

In [29]:
2 + 2.5

4.5

In [30]:
7/3.5

2.0

In [31]:
7/3

2.3333333333333335

In [32]:
print(type(7/3.5))

<class 'float'>

In [33]:
int(7/3.5)

2

In [34]:
print(type(int(7/3.5)))

<class 'int'>

In [35]:
w = int(3.7)
w

3

In [36]:
some_float = float(3)
print(some_float)

3.0

In [38]:
name = '"Ameer"'
print(name)
print(type(name))

"Ameer"
<class 'str'>

In [41]:
dialogue = 'Ameer said "Hello John", to which John replied, "You\'re the best"'
print(dialogue)

Ameer said "Hello John", to which John replied, "You're the best"

In [46]:
segment_one = "I\'m 23"
segment_two = "years old"
full_sentence = segment_one + " " + segment_two
long_sentence = full_sentence * 10
print(len(long_sentence))

160

In [47]:
this_crash_course_is_awesome = True
this_crash_course_is_not_awesome = False

In [56]:
comparison_operation = not 2 > 3
print(comparison_operation)

True

In [57]:
movie_title = 'Harry Potter and the prisoner of Azkaban'
print(movie_title.upper())

HARRY POTTER AND THE PRISONER OF AZKABAN

In [58]:
print(movie_title.lower())

harry potter and the prisoner of azkaban

In [59]:
print(movie_title.count('a'))

4

In [60]:
names = ['John', 'Jane', 'Joe']
print(names[0])

John

In [61]:
print(names[2])

Joe

In [62]:
print(names[1])

Jane

In [63]:
random_variable = [True,False,'Hello', 1 , 1.2]

In [66]:
length = len(random_variable)
print(length)

5

In [67]:
print(random_variable[3])

1

In [74]:
print(random_variable[-5])

True

In [82]:
ordered_numbers = [0,1,2,3,4,5,6,7,8,9,10]
print(ordered_numbers[:])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [89]:
print(list(range(0,11,2)))

[0, 2, 4, 6, 8, 10]

In [90]:
show_title = 'game of thrones'
print(show_title[2])

m

In [91]:
print(show_title[2:])

me of thrones

In [93]:
months = ['January','February','March']
print('June' in months)

False

In [94]:
print('January' in months)

True

In [95]:
print('June' not in months)

True

In [96]:
course = 'python crash course'
print('crash' in course)

True

In [97]:
print('java' not in course)

True

In [98]:
grocery_list = ['bananas','apples','cauliflower']
grocery_list[2] = 'rutabagas'
print(grocery_list)

['bananas', 'apples', 'rutabagas']

In [99]:
misspelled_vegetable = 'cucomber'
misspelled_vegetable[3] = 'u'
print(misspelled_vegetable)

TypeError: 'str' object does not support item assignment

In [100]:
name = 'Ameer'
other_name = name
name = 'John'
print(name)
print(other_name)

John
Ameer

In [102]:
books = ['The catcher in the Rye', 'The Mist', 'Lord of the rings']
more_books = books
books[0] = 'A song of ice and fire'
print(books[0])
print(more_books[0])
print(more_books)

A song of ice and fire
A song of ice and fire
['A song of ice and fire', 'The Mist', 'Lord of the rings']

In [103]:
numbers = [4,3,7,4]
len(numbers)

4

In [104]:
print(max(numbers))

7

In [105]:
names = ['Thomas','Gio','Zack']
print(max(names))

Zack

In [106]:
print(min(names))

Gio

In [107]:
print(sorted(numbers))

[3, 4, 4, 7]

In [108]:
print(sorted(names))

['Gio', 'Thomas', 'Zack']

In [110]:
' '.join(['January','February','March'])

'January February March'

In [112]:
print('This person is {}, {}, and {}'.format('tall','slim','blonde'))

This person is tall, slim, and blonde

In [113]:
moths = ['January','Febraury','March']
months.append('April')
print(months)

['January', 'February', 'March', 'April']

In [117]:
traits = 'tall','slim','blonde'
height, build, hair = traits
print(height,build,hair)

tall slim blonde

In [119]:
duplicate_numbers = [1,1,2,2,3,3]
unique_numbers = set(duplicate_numbers)
print(unique_numbers)

{1, 2, 3}

In [123]:
unique_numbers.add(3)
print(unique_numbers)

{1, 2, 3, 4}

In [124]:
print(2 in unique_numbers)

True

In [125]:
print(5 not in unique_numbers)

True

In [126]:
print(4 in unique_numbers)

True

In [131]:
inventory = {'bananas':1.29, 'apples':2.99, 'papayas':1.39}
print(inventory['papayas'])

1.39

In [132]:
inventory['bananas'] = 2.99
print(inventory['bananas'])

2.99

In [133]:
bananas_price = inventory.get('bananas')
print(bananas_price)

2.99

In [135]:
strawberries_price = inventory.get('strawberries')
print(strawberries_price)

None

In [136]:
print('bananas' in inventory)

True

In [137]:
print('guava' in inventory)

False

In [138]:
print('grapes' not in inventory)

True

In [141]:
grocery_items = {'bananas':{'price':2.99, 'country of origin':'Gautamela'},
                'apples':{'price':1.29, 'country of origin':'United Kingdom'},
                'papayas':{'price':2.39, 'country of origin':'Costa Rica'}
                }
print(grocery_items['apples']['country of origin'])

United Kingdom

In [146]:
item = 'brusel sprouts'
if item in grocery_items:
    print('found the', item)
else:
    print('not found')
    grocery_items.update({item:{'price':2.99,'country of origin':'India'}})

not found

In [147]:
print(grocery_items)

{'bananas': {'price': 2.99, 'country of origin': 'Gautamela'}, 'apples': {'price': 1.29, 'country of origin': 'United Kingdom'}, 'papayas': {'price': 2.39, 'country of origin': 'Costa Rica'}, 'brusel sprouts': {'price': 2.99, 'country of origin': 'India'}}

In [151]:
grocery_items = {'bananas':1.99,'apples':2.99,'papayas':1.49}
print(grocery_items)

{'bananas': 1.99, 'apples': 2.99, 'papayas': 1.49}

In [152]:
item, price = 'rutabagas',3.99
if item in grocery_items:
    print('found the ', item)
elif price > 2.99:
    print('too expensive for inventory')
else:
    print('could not find the ', item)
    grocery_items.update({item: price})
    print('Just added the item, here is the updated grocery list', grocery_items)

too expensive for inventory

In [153]:
daytime = 'dawn'
if daytime == 'dawn':
    print('still asleeep')
elif daytime == 'morning':
    print('time to go to work')
elif daytime == 'noon':
    print('time to take a lunch break')
elif daytime == 'afternoon':
    print('time to go home')
else:
    print('time to go to sleep')

still asleeep

In [156]:
reynolds_number = 100000
if reynolds_number < 2000:
    print('Laminar')
elif reynolds_number > 2000 and reynolds_number < 10000:
    print('Transitional')
else:
    print('Turbulent')

Turbulent

In [157]:
months = ['January', 'February', 'March']
for month in months:
    print(month)

January
February
March

In [162]:
for number in range(1,101):
    print(number)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [167]:
names = ['hillary', 'diana', 'brian']
for index in range(len(names)):
    print(names[index].title())

Hillary
Diana
Brian

In [172]:
movies = {'Titanic':1997, 'Finding Nemo': 2003}
for (key,value) in movies.items():
    print('The movie {}, was made in {}'.format(key,value))

The movie Titanic, was made in 1997
The movie Finding Nemo, was made in 2003

In [175]:
random_number = 20
while random_number < 30:
    print(random_number)
    random_number+=1

20
21
22
23
24
25
26
27
28
29

In [176]:
numbers = list(range(0,10))
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [179]:
for number in numbers:
    if number % 2 != 0:
        continue;
    print(number)

0
2
4
6
8

In [186]:
def rectangle_area(length, width):
    print(length*width)

In [187]:
rectangle_area(2,3)

6

In [188]:
rectangle_area(100,101)

10100

In [191]:
number = 2
def eandom_function():
    name = 'Bill'
print(number)

2

In [199]:
numbers = [1,2,3,4,5]
print(list(filter(lambda number: number % 2 == 0,numbers)))

[2, 4]